<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AuthService</filter-name>
        <filter-class>com.iesvdc.acceso.controller.filters.RestAuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthService</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CrearAlumno</servlet-name>
        <servlet-class>com.iesvdc.acceso.controller.CrearAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeerAlumno</servlet-name>
        <servlet-class>com.iesvdc.acceso.controller.LeerAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarAlumno</servlet-name>
        <servlet-class>com.iesvdc.acceso.controller.ActualizarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarAlumno</servlet-name>
        <servlet-class>com.iesvdc.acceso.controller.BorrarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearAlumno</servlet-name>
        <url-pattern>/CrearAlumno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.iesvdc.acceso.controller.resources</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeerAlumno</servlet-name>
        <url-pattern>/LeerAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarAlumno</servlet-name>
        <url-pattern>/ActualizarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarAlumno</servlet-name>
        <url-pattern>/BorrarAlumno</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
